# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle
**/build/
!**/src/**/build/

# other
eclipse
run
runs
run-data

repo

logs/
.DS_Store
/src/generated/resources/.cache/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache
